body {
  margin: 0;
  font-family: sans-serif;
  background-color: rgb(255, 255, 255);
}

.logo-cont {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 8px;
}

@media (max-width: 756px) {
  .logo-cont {
    transform: scale(0.6) translateX(-60px);
  }
}

.logo {
  height: 34px;
  margin-top: -6px;
}

li {
  list-style-type: none;
}

a {
  text-decoration: none;
}

h1,
h2,
h3,
h4 {
  margin: 0;
}

.txt-color {
  color: #3255ee;
  text-align: center;
  font-size: 3rem;
}

input {
  border: none;
  border-bottom: 2px solid #3255ee;
  border-top: 1.5px solid #2443cc;
  border-left: 1.5px solid #2443cc;
  border-right: 1.5px solid #2443cc;
  background-color: rgb(255, 255, 255);
  font-size: 1rem;
  border-radius: 30px;
  padding-left: 10px;
  padding: 10px;
}

input:focus {
  outline: none;
  filter: brightness(0.975);
  border-bottom-width: 2.5px;
}

/* --- Globale input endring!!!!!!!!!!!!!!!!!!!!!!!!!!--- */

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* --- Globale input endring!!!!!!!!!!!!!!!!!!!!!!!!!!--- */

label {
  color: #3255ee;
  font-weight: bolder;
  font-size: 20px;
}

textarea {
  border: none;
  border: 1px solid #3255ee;
  border-radius: 20px;
  border-bottom: 2px solid #3255ee;
  background-color: #ffffff;
  font-size: 18px;
  color: #000000;
  padding: 6px 0px 0px 4px;
  font-family: sans-serif;
  max-width: 95%;
  max-height: 80px;
}

form {
  width: max-content;
  margin: auto;
  display: flex;
  flex-direction: column;
  gap: 5px;
}

.cont-lg {
  width: 80%;
  max-width: 992px;
  margin: auto;
}

.cont-sm {
  width: 80%;
  max-width: 576px;
  margin: auto;
}

.cont-xs {
  width: 80%;
  max-width: 400px;
  margin: auto;
}

/* --- Globale Knapper --- */

.global-btn {
  padding: 10px;
  background-color: #3255ee;
  border-radius: 30px;
  text-decoration: none;
  color: white;
  font-weight: bold;
  transition: all 0.2s;
  white-space: nowrap;
  border: none;
  height: min-content;
  font-weight: 100;
  cursor: pointer;
}

/* Define styles for the custom marker */
.custom-marker {
  width: 30px;
  height: 30px;
  border-radius: 50% 50% 50% 0;
  background: #89849b;
  display: flex;
  justify-content: center;
  align-items: center;
}

.custom-marker-img {
  transform: rotate(45deg);
}

.error-handler {
  display: flex;
  justify-content: center;
  align-items: center;
}

#goHomeBtn {
  background-color: transparent;
  border: none;
  color: #ffffff;
  border-bottom: solid 1px #ffffff;
  width: fit-content;
  cursor: pointer;
}

.popup-container {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent black background */
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 9999; /* Ensure the popup is displayed on top */
}

.popup {
  display: flex;
  gap: 15px;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: #ffffff;
  color: rgb(0, 0, 0);
  border-radius: 5px;
  padding: 15px;
  height: 70px;
}

.popup-content {
  display: flex;
  flex-direction: row;
  gap: 5px;
  align-items: center;
}

.popup-content span {
  flex: 1; /* Take up remaining space */
}

.yes-btn {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  width: 50px;
  color: #ffffff;
  background-color: #73cbc5;
  cursor: pointer;
}

.no-btn {
  border: none;
  padding-top: 0px;
  padding-bottom: 0px;
  padding-left: 7px;
  padding-right: 7px;
  border-radius: 8px;
  width: 50px;
  color: #ffffff;
  background-color: #d88282;
  cursor: pointer;
  margin-left: 10px;
}

.container-not-found-page {
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.container-not-found {
  background-color: #fff;
  border-radius: 8px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  padding: 40px;
  max-width: 400px;
  width: 90%;
}
h1 {
  font-size: 36px;
  margin-bottom: 20px;
}
p {
  font-size: 18px;
  margin-bottom: 20px;
}
a {
  color: #007bff;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
