.home-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
  padding-top: 150px;
}

.resource {
  background-color: #dfdddd;
  padding: 10px;
  margin-bottom: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
}

@media (max-width: 768px) {
  .home-container {
    padding-top: 50px;
  }
}
