#mapBtn,
#homeBtn,
#accountBtn {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 9px;
  background-color: transparent;
  border: none;
  font-size: 1.1rem;
  color: white;
  font-weight: 300;
  cursor: pointer;
  width: 200px; /* Set a fixed width for each button */
  text-align: center; /* Center the button text */
}

.navbar {
  z-index: 1000;
  position: fixed;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center; /* Center items horizontally */
  background-color: #1f3d99;
  color: white;
  width: 100vw;
  height: 45px;
  padding: 10px 0;
}

.navbar-list {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: flex;
  align-items: center; /* Center items vertically */
  gap: 20px; /* Adjust as needed */
}

.navbar-item {
  margin-right: 20px;
}

.navbar-link {
  text-decoration: none;
  color: white;
}

.logo {
  position: relative;
  width: 4.5em;
  height: 0;
}
.logo .wrapper {
  width: 100%;
  height: 0px;
  border-radius: 100%;
}
.logo img {
  width: 65px;
  padding: 8px;
  height: 65px;
  background-color: #1f3d99;
  border-bottom-right-radius: 100px;
  border-bottom-left-radius: 100px;
  margin-top: -5px; /* Adjust this value as needed */
}

#profilepicNav {
  height: 40px;
  border-radius: 50%;
  border: white solid 1px;
}

/* Media query for mobile responsiveness */
@media (max-width: 768px) {
  .navbar {
    position: fixed;
    bottom: 0px;
    left: 0;
    width: 100%;
    justify-content: space-between; /* Space items evenly */
  }

  .navbar-list {
    flex-direction: row;
    justify-content: center; /* Center items horizontally */
    width: 100%;
  }

  .navbar-item {
    margin: 0;
  }

  .link-button {
    margin-bottom: 60px;
  }
}
