<div class="resource-main-cont">
  <div class="resource-cont">
    <div class="slideshow-container">
      <div class="slides">
        <!-- Images will be dynamically added here -->
      </div>
      <button class="prev-btn">❮</button>
      <button class="next-btn">❯</button>
    </div>
    <div class="resource-details">
      <h1>Name</h1>
      <div style="height: 30px"></div>
      <h2>Description</h2>
      <p>
        Lorem ipsum dolor sit amet, consectetur adipiscing elit. Vestibulum id
        ligula porta felis euismod semper.
      </p>
      <button>Add to Cart</button>
    </div>
  </div>
</div>
