<div class="resource-main-cont">
  <div style="display: flex; gap: 20px; flex-direction: column;">
  <div class="resource-cont">
    <div class="input-rap">
      <input
        type="file"
        id="imageUpload"
        name="images[]"
        accept="image/*"
        multiple />
    </div>
    <div class="resource-details">
      <div style="display: flex; flex-direction: row; gap: 10px;">
      <div style="display: flex; flex-direction: column;">
      <h2>Name</h2>
      <input id="nameInput" type="text" placeholder="name" value="" />
      </div>
      <div style="display: flex; flex-direction: column;">
        <h2>Resource type</h2>
        <input id="typeInput" type="text" placeholder="type" value="" />
        </div>  
      </div>
      <div style="height: 20px"></div>
      <div style="display: flex; flex-direction: row; gap: 10px;">
        <div style="display: flex; flex-direction: column;">
        <h2>Country</h2>
        <input id="countryInput" type="text" placeholder="country" value="" />
        </div>
        <div style="display: flex; flex-direction: column;">
          <h2>Zip code</h2>
          <input id="zipCodeInput" type="text" placeholder="zip code" value="" />
          </div>  
        </div>
        <div style="height: 10px"></div>
        <h2>Address</h2>
        <input id="addressInput" type="text" placeholder="address" value="" />
      <div style="height: 20px"></div>
      <h2>Description</h2>
      <textarea
        class="description-input"
        name="txtname"
        rows="4"
        cols="50"
        maxlength="200">
      </textarea>
      <h2>Key</h2>
      <input id="keyInput" type="text" placeholder="key" value="" />
      <h2>User Access</h2>
      <div
        style="
          display: flex;
          flex-direction: column;
        ">   
          <div style="display: flex; flex-direction: row; gap: 5px">
            <select name="" id="selectUser">
            </select>
            <button id="addAdminUsersBtn" class="global-btn">Add Admin</button>
            <button id="addUsersBtn" class="global-btn">Add Users</button>
          </div>
          <div id="displayUsers"></div>   
        </div>
      </div>
    </div>
    <div
    style="
      display: flex;
      justify-content: center;
      align-items: center;
      flex-direction: column;
    ">
    <div id="successHandlerCont" class="success-handler"></div>
    <div id="errorHandlerCont" class="error-handler"></div>
    <button id="addBtn" class="form-button">Add Resource</button>
    <button id="discardResourceBtn" class="link-button">
      Discard Resource
    </button>
  </div>
  </div>
  </div>
</div>
