<div class="login-cont-main">
  <div
    style="
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      width: 100vw;
      min-height: 35vh;
    ">
    <img height="90px" src="./Assets/img//icons/Logo.svg" alt="" />
    <div style="height: 10px"></div>
    <h1 style="color: white; font-weight: 200">SHARELINK</h1>
    <p style="text-align: center; color: white; font-weight: 200; width: 90%">
      ShareLink is a platform for easy resource sharing and collaboration.
      Whether you need physical items, digital content, or expertise, our app
      connects you with others for seamless sharing. Join now and unlock endless
      possibilities!
    </p>
  </div>
  <div class="login-cont-raper">
    <div class="login-cont cont-xs">
      <div style="text-align: center">
        <h1 class="txt-color">Sign Up</h1>
        <h3 style="font-weight: 200">Hello, Crate Your Account</h3>
      </div>
      <div style="height: 20px"></div>
      <label style="padding-left: 15px">Username:</label>
      <input id="username" type="Username" placeholder="Username" value="" />
      <div style="height: 20px"></div>
      <label style="padding-left: 15px">Email:</label>
      <input id="email" type="text" placeholder="Email" value="" />
      <div style="height: 25px"></div>
      <label for="Profile-picture">Profile-picture:</label>
      <input id="profilePicture" type="file" name="image" accept="image/*" />
      <div style="height: 25px"></div>
      <label style="padding-left: 15px">Password:</label>
      <input id="password" type="password" placeholder="Password" value="" />
      <div style="height: 25px"></div>
      <div
        style="
          display: flex;
          flex-direction: column;
          justify-content: center;
          align-items: center;
          gap: 10px;
        ">
        <div id="errorHandlerCont"></div>
        <button
          id="createUserButton"
          class="global-btn"
          style="padding-left: 30px; padding-right: 30px; min-width: 35%">
          Sign Up
        </button>
      </div>
    </div>
  </div>
</div>
